@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    @apply text-default-black
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
